<div ng-include="'components/navbar/navbar.html'"></div>

		<div class="header">
		<div class="container">
			<div class="row">
	
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 wow fadeInLeft">
					<h1>Welcome</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut dolor vel sapien feugiat lacinia. In et felis turpis. Sed ac erat ut libero volutpat condimentum. Pellentesque ut dolor vel sapien feugiat lacinia. In et felis turpis. Sed ac erat ut libero volutpat condimentum.</p>
					<p>Pellentesque ut dolor vel sapien feugiat lacinia. In et felis turpis. Sed ac erat ut libero volutpat condimentum.</p>
				
				    <ul class="list-inline">
				    <li><a href="#" class="btn btn-trans btn-md"> Buy Online</a></li>
				    <li><a href="#" class="btn btn-primary btn-md"> Read Reviews</a></li>
				    </ul>
				
				</div>
				
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 wow fadeInRight" align="center">
				
					<img class="img-responsive" src="../../../assets/images/devices.png"/>
				
				</div>
					
			</div>
		</div>
	</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Change Password</h1>
    </div>
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="changePassword(form)" novalidate>

        <div class="form-group">
          <label>Current Password</label>

          <input type="password" name="password" class="form-control" ng-model="user.oldPassword"
                 mongoose-error/>
          <p class="help-block" ng-show="form.password.$error.mongoose">
              {{ errors.other }}
          </p>
        </div>

        <div class="form-group">
          <label>New Password</label>

          <input type="password" name="newPassword" class="form-control" ng-model="user.newPassword"
                 ng-minlength="3"
                 required/>
          <p class="help-block"
             ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
            Password must be at least 3 characters.
          </p>
        </div>

        <p class="help-block"> {{ message }} </p>

        <button class="btn btn-lg btn-primary" type="submit">Save changes</button>
      </form>
    </div>
  </div>
</div>

 <!-- <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-xs-12">
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>
          </div>
		 <div class="row">
			<div id="footer" class="col-xs-12">
				Copyright &copy; 2015, All Rights Reserved. 2012 - 2013 &copy; Unicorn Admin. Brought to you by <a href="https://wrapbootstrap.com/user/diablo9983">diablo9983</a>
			</div>
		</div>
        </div>
      </div>
    </footer>	  -->

		<!-- FOOTER -->
	
	<div class="footer">
		<div class="container">
		
			<div class="row">
			
				<div class="col-lg-4 col-md-4">
				<h1>LOGO</h1>
				<p>Since 2015</p>
				<p><em>'Delivering apps for low cost and maximum fun.'</em></p>
				</div>
				
				<div class="col-lg-4 col-md-4">
				<h1>GET IN TOUCH:</h1>
				<p><i class="fa fa-phone"></i> 011111 222 333</p>
				<p><i class="fa fa-envelope-o"></i> <a href="mailto:info@appname.com">info@appname.com</a></p>
				</div>
				
				<div class="col-lg-4 col-md-4">
				<h1>ABOUT US:</h1>
				<p>Delivering high quality apps for low cost and maximum fun.</p>
				<p>Company name &copy; 2015</p>
				</div>
				
			</div>
			
		</div>
	</div>
	
	<!-- END FOOTER -->
