<div ng-include="'components/navbar/navbar.html'"></div>

  <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1>Math <span class="em-text">Gymnasium</span></h1>
            <p>A fun and thrilling way to enjoy and practice Math problems</p>
            <a href="#"><img class="app-btn" src="assets/images/icon_app_store.png"></a>
            <a href="#"><img class="app-btn" src="assets/images/icon_google_play.png"></a>
          </div>
          <div class="col-md-6">
            <!-- <img class="showcase-img" src="assets/images/mathcup_10.jpg"> -->
            <img class="showcase-img" src="assets/images/mathcup10.jpg">
			
          </div>
        </div>
      </div>
    </div>

   <section id="middle">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <img src="assets/images/mathcup_4.jpg" class="demo">
            <h2>Lorem Ipsum</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris lobortis tempus varius. Sed porttitor ex id lectus interdum tristique.</p>
            <a href="#" class="btn btn-default">Read More</a>
          </div>
          <div class="col-md-4">
            <img src="assets/images/mathcup_6.jpg" class="demo">
            <h2>Lorem Ipsum</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris lobortis tempus varius. Sed porttitor ex id lectus interdum tristique.</p>
            <a href="#" class="btn btn-default">Read More</a>
          </div>
          <div class="col-md-4">
            <img src="assets/images/mathcup_8.jpg" class="demo">
            <h2>Lorem Ipsum</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris lobortis tempus varius. Sed porttitor ex id lectus interdum tristique.</p>
            <a href="#" class="btn btn-default">Read More</a>
          </div>
        </div>
      </div>
    </section>

   <section id="feature">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <h1>Math Gymnasium Features</h1>
            <ul>
              <li> <i class="glyphicon glyphicon-ok"></i>Math Word Problems </li>
              <li> <i class="glyphicon glyphicon-ok"></i>Ratio</li>
              <li> <i class="glyphicon glyphicon-ok"></i>Percentage</li>
              <li> <i class="glyphicon glyphicon-ok"></i>Algebra</li>
              <li> <i class="glyphicon glyphicon-ok"></i>Geometry</li>
            </ul>
          </div>
          <div class="col-md-4 col-md-offset-2">
            <img class="big-logo" src="assets/images/Learning-Materials--Poster-Math-Is-Infinite--T-A63084_L.jpg">
          </div>
        </div>
      </div>
    </section>

<!-- <div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}</a></li>
      </ul>
    </div>
  </div>
</div>
	 --> 
<!-- <footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.0.13 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
-->
   <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-xs-12">
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>
          </div>
          <div class="col-md-6 col-xs-12">
            <p>Copyright &copy; 2015, All Rights Reserved</p>
          </div>
        </div>
      </div>
    </footer>