<div ng-include="'components/navbar/navbar.html'"></div>
  <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1>Math <span class="em-text">Gymnasium</span></h1>
            <p>A fun and thrilling way to enjoy and practice Math problems</p>
            <a href="#"><img class="app-btn" src="assets/images/icon_app_store.png"></a>
            <a href="#"><img class="app-btn" src="assets/images/icon_google_play.png"></a>
          </div>
          <div class="col-md-6">
            <!-- <img class="showcase-img" src="assets/images/mathcup_10.jpg"> -->
            <img class="showcase-img" src="assets/images/mathcup10.jpg">
			
          </div>
        </div>
      </div>
    </div>

<div class="container" ng-controller='ContactUsCtrl'>
        <h1>Contact US</h1>
 <div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<div class="widget-content nopadding">
				<div class="widget-box">
					<form class="form-horizontal">
						  <div class="form-group">
							  <label for="firstname" class="col-sm-2 control-label control-label-inline">First Name</label>
							  <div class="col-sm-10">
									<input type="text" class="form-control form-control-inline" id="firstname" ng-model="firstname" width="100" placeholder="firstname">
							  </div>
						  </div>
						  <div class="form-group">
							  <label for="lastname" class="col-sm-2 control-label control-label-inline">Last Name</label>
							  <div class="col-sm-10">
									<input class="form-control form-control-inline" id="lastname" ng-model="lastname" width="150" placeholder="lastname">
							  </div>
						  </div>
						  <div class="form-group">
							  <label for="firstname" class="col-sm-2 control-label control-label-inline">User Name</label>
							  <div class="col-sm-10">
									<input class="form-control form-control-inline" id="username" ng-model="username" width="150" placeholder="username">
							  </div>
						  </div>  
						  <div class="form-group">
								<label for="inputEmail3" class="col-sm-2 control-label control-label-inline">Email</label>
								<div class="col-sm-10">
								  <input type="email" ng-model="email" class="form-control form-control-inline-email" id="inputEmail3" placeholder="Email">
								</div>
						  </div>
						  <div class="form-group">
								<label for="remarks" class="col-sm-2 control-label control-label-inline">Remarks</label>
								<div class="col-sm-10">
									<textarea class="form-control" rows="10" cols="100" ng-model="remarks"></textarea>
								</div>
						  </div>
						   <div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
					                <button type="submit" ng-click='submit()' class="btn btn-default"><strong>Submit</strong></button>
								</div>
						  </div> 
		            </form>
					</div>	 <!-- <div class="widget-box"> -->
				</div> 	<!-- <div class="widget-content nopadding"> -->
			</div> 	<!-- <div class="col-xs-12"> -->
		</div> <!--<div class="row"> -->
	</div> 	<!--<div class="container-fluid">-->
</div> 	 <!-- container -->


  <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-xs-12">
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>
          </div>
		 <div class="row">
			<div id="footer" class="col-xs-12">
				Copyright &copy; 2015, All Rights Reserved. 2012 - 2013 &copy; Unicorn Admin. Brought to you by <a href="https://wrapbootstrap.com/user/diablo9983">diablo9983</a>
			</div>
		</div>
        </div>
      </div>
    </footer>
