<div ng-include="'components/navbar/navbar.html'"></div>

 <!-- <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1>Math <span class="em-text">Gymnasium</span></h1>
            <p>A fun and thrilling way to enjoy and practice Math problems</p>
            <a href="#"><img class="app-btn" src="assets/images/icon_app_store.png"></a>
            <a href="#"><img class="app-btn" src="assets/images/icon_google_play.png"></a>
          </div>
          <div class="col-md-6">
            <!-- <img class="showcase-img" src="assets/images/mathcup_10.jpg"> -->
          <!--  <img class="showcase-img" src="assets/images/mathcup10.jpg">
			
          </div>
        </div>
      </div>
    </div>	  -->

			<div class="header">
		<div class="container">
			<div class="row">
	
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 wow fadeInLeft">
					<h1>Welcome</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut dolor vel sapien feugiat lacinia. In et felis turpis. Sed ac erat ut libero volutpat condimentum. Pellentesque ut dolor vel sapien feugiat lacinia. In et felis turpis. Sed ac erat ut libero volutpat condimentum.</p>
					<p>Pellentesque ut dolor vel sapien feugiat lacinia. In et felis turpis. Sed ac erat ut libero volutpat condimentum.</p>
				
				    <ul class="list-inline">
				    <li><a href="#" class="btn btn-trans btn-md"> Buy Online</a></li>
				    <li><a href="#" class="btn btn-primary btn-md"> Read Reviews</a></li>
				    </ul>
				
				</div>
				
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 wow fadeInRight" align="center">
				
					<img class="img-responsive" src="../../../assets/images/devices.png"/>
				
				</div>
					
			</div>
		</div>
	</div>

 <div class="container-fluid">
	<div class="row">
		<div class="col-xs-8">
			<div class="col-md-10 col-md-offset-4">
				<div class="widget-box">
					 <div class="widget-title">
								<span class="icon">
									<i class="fa fa-align-justify"></i>									
								</span>
								<h5>Sign Up</h5>
					</div>
					  <form class="form-horizontal" name="form" ng-submit="register(form)" novalidate>

					    <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                            'has-error': form.name.$invalid && submitted }">
									<label for="user.email" class="col-sm-5 col-md-5 col-lg-3 control-label">Name</label>
									<div  class="col-sm-5 col-md-5 col-lg-6">
											<input type="text" name="name" class="form-control form-control-inline" id="name" ng-model="ng-model="user.name" required width="100" placeholder="name">
									</div>
						</div>


					   <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                            'has-error': form.name.$invalid && submitted }">
							<label for="user.grade" class="col-sm-5 col-md-5 col-lg-3 control-label">Grade</label>
							<div class="col-sm-5 col-md-5 col-lg-6">
								<select id="gradeSel" ng-model="user.grade">
								  <option selected="selected">Select</option> 
								  <option value="GradeVI" selected>Grade6</option>
								  <option value="GradeVII">Grade7</option>
								  <option value="GradeVIII">Grade8</option>
								</select>
							</div>
					  </div>

					    <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                            'has-error': form.name.$invalid && submitted }">
									<label for="user.email" class="col-sm-5 col-md-5 col-lg-3 control-label">Email</label>
									<div  class="col-sm-5 col-md-5 col-lg-6">
											 <input type="email" name="email" class="form-control form-control-inline" ng-model="user.email" placeholder="email" required mongoose-error/>
									</div>
						</div>

						  <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                            'has-error': form.name.$invalid && submitted }">
									<label for="user.email" class="col-sm-5 col-md-5 col-lg-3 control-label">Password</label>
									<div  class="col-sm-5 col-md-5 col-lg-6">
										 <input type="password" name="password" class="form-control form-control-inline" ng-model="user.password" placeholder="password" ng-minlength="3" required mongoose-error/>
									</div>
						</div>


				<div align="center">
				  <button class="btn btn-primary btn-sm" type="submit">
					Sign up
				  </button>
				  <a class="btn btn-default btn-sm btn-register" href="/login">
					Login
				  </a>
				    <a class="btn btn-facebook btn-sm" href="" ng-click="loginOauth('facebook')">
					<i class="fa fa-facebook"></i> Connect with Facebook
				  </a>
				  <a class="btn btn-google-plus btn-sm" href="" ng-click="loginOauth('google')">
					<i class="fa fa-google-plus"></i> Connect with Google+
				  </a>
				</div>


			</form>
				</div>
			</div>
		</div>
	</div>
</div>
 <!-- <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-xs-12">
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>
          </div>
		 <div class="row">
			<div id="footer" class="col-xs-12">
				Copyright &copy; 2015, All Rights Reserved. 2012 - 2013 &copy; Unicorn Admin. Brought to you by <a href="https://wrapbootstrap.com/user/diablo9983">diablo9983</a>
			</div>
		</div>
        </div>
      </div>
    </footer>	  -->

		<!-- FOOTER -->
	
	<div class="footer">
		<div class="container">
		
			<div class="row">
			
				<div class="col-lg-4 col-md-4">
				<h1>LOGO</h1>
				<p>Since 2015</p>
				<p><em>'Delivering apps for low cost and maximum fun.'</em></p>
				</div>
				
				<div class="col-lg-4 col-md-4">
				<h1>GET IN TOUCH:</h1>
				<p><i class="fa fa-phone"></i> 011111 222 333</p>
				<p><i class="fa fa-envelope-o"></i> <a href="mailto:info@appname.com">info@appname.com</a></p>
				</div>
				
				<div class="col-lg-4 col-md-4">
				<h1>ABOUT US:</h1>
				<p>Delivering high quality apps for low cost and maximum fun.</p>
				<p>Company name &copy; 2015</p>
				</div>
				
			</div>
			
		</div>
	</div>
	
	<!-- END FOOTER -->
